body {
    padding: 0px;
    margin: 0px;
    background: #f2f6e9;
   }

.navbar {
    background: #FFCE2B;
    justify-content: center;
}

.logo {
    height: 50px;
    width: auto;
}

#login_bloc {
    display: flex;
    margin-top: 5%;
    align-items: center;
    flex-direction: column;
    border: solid black 1px;
    
}

.champs {
    margin-bottom: 5%;
}

#connexion {
    margin-bottom: 5%;

}