body {
    padding: 0px;
    margin: 0px;
    background: #f2f6e9;
   }

.navbar {
    background: #FFCE2B;
    justify-content: center;
}

.logo {
    height: 50px;
    width: auto;
}

#login_bloc {

    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20%;
    margin-bottom: 20%;
    
}

#login_contour {
    margin-top: 5%;
    margin-left: 35%;
    margin-right: 35%;
    border: solid black 1px;
}

.champs {

    margin-bottom: 8%;
}

#connexion_text {
    margin-bottom: 10%;
    font-size: 20px;
}

.nav-link {

    background-color: #D3D3D3;
    color: black; 
    cursor: pointer;
    
}

.form-group {
    margin-top: 10%;
}